.minibar {
    height: 100%;
    width: 70px;
    left: 0;
    z-index: 2;
    position: fixed;
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: grid;
    text-align: center;
    justify-content: center;

    background-image: radial-gradient(rgb(233, 233, 233) 2px, transparent 2px),
        radial-gradient(lightgray 2px, transparent 2px);
    background-size: 18px 18px;
    background-repeat: repeat;
}

.star {
    height: 100px;
    width: 50px;
    background-image: url(../assets/star.svg);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 0.5rem;
    z-index: inherit;
    margin: 10px;
    position: fixed;
}

.earth {
    height: 100px;
    width: 50px;
    background-image: url(../assets/earth.svg);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 0.5rem;
    z-index: inherit;
    margin: 10px;
    bottom: 0;
    position: fixed;
}

.container {
    width: 70px;
    height: 50%;
    position: fixed;
    /* background-color: pink; */
    left: 0;
    z-index: inherit;
    margin-top: 120px;
    padding-top:0px;
}
.car {
    height: 100px;
    width: 50px;
    /* background-color: pink; */
    border-radius: 0.5rem;
    z-index: inherit;
    margin-top: 0px;
    margin: 10px;
    /* outline-color: gray; */
    top: 0rem;
    background-image: url(../assets/tesla.svg);
    background-repeat: no-repeat;
    /* display: grid;
    bottom: 0; */
}